.contacts {
   background: url("@img/contacts.png") 0 0/cover no-repeat;
	position: relative;
	._lineR {
		@media (min-width: 992px) {
			@include lineRight(159px);
		}
	}
	&._appear {
		._lineR {
         transform: translate(0px, 0px);
         opacity: 1;
      }
		.contacts__content-tel,
		.contacts__content-gmail,
		.contacts__content-city {
			transform: translate(0px, 0px);
			opacity: 1;
			transition: all 0.6s ease 0.4s;
		}

	}
	&__container {
		@include container;
		padding: 20px 15px;
		text-align: center;
		@media (min-width: 992px) {
			padding: 40px 15px;
		}
	}
	&__content {
		color: $mainColor;
		padding: 20px 10px;
		@media (min-width: 768px) {
			padding: 40px 10px;
		}
		@media (min-width: 992px) {
			padding: 80px 10px 0px;
		}
	}
	&__content-tel {
		font-size: 32px;
		font-weight: 700;
		transform: translate(0px, -100%);
		opacity: 0;		
		&-call {
		color: $mainColor;
		}
		@media (min-width: 768px) {
			font-size: 56px;
		}
		@media (min-width: 992px) {
			font-size: 64px;
		}
	}
	&__content-city {
		font-size: 20px;
		font-weight: 700;
		transform: translate(0px, 100%);
		padding: 30px 0px 0px;
		opacity: 0;	
		@media (min-width: 768px) {
			font-size: 46px;
		}
		@media (min-width: 992px) {
			padding: 30px 0px 30px;
		}
	}
}

