.services {
	background-color: $bgColor;
	position: relative;

	@media (min-width: 768px) {
		padding: 40px 0px;
	}
	@media (min-width: 992px) {		
		&::before {
			@include lineLeft(159px);
		}	
	}
	@media (min-width: 1200px) {
		padding: 80px 0px;
		&::before {
			top: 199px;
		}
	}
	&__container {
		@include container;
	}
	&__header {
		text-align: center;
	}

	&__header-title {
	}

	&__blocks {
	}
}

.sevices {

	&__block {
	}
}
.sevice {

	&__title {
	}
}
.service {

	&__body {
	}

	&__body-text1 {
	}

	&__body-text2 {
	}

	&__body-text3 {
	}

	&__body-button {
	}
}
.button {
}
