@import "fonts";
@import "reset";
@import "utils";
@import "header";
@import "home";
@import "services";


body {
	font-family: $fontFamily;
	font-size: $fontSize;
	color: $fontColor;

	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	flex: 1 1 auto;
}


