// Useful reusable items

$fontFamily: Ubuntu, sans-serif;
$fontSize: 18px;
$fontColor: #171717;
$titleColor: #4C4C4C;
$mainColor: #FF7062;
$whiteColor: #FFFFFF;
$bgColor: #FEFEFE;
$maxWidth: 1181px;

@mixin container {
	max-width: $maxWidth;
	margin: 0px auto;
	padding: 0px 15px;
}

@mixin button($btnHeight, $btnPad, $btnFontSize) {	
	color: $whiteColor;
	background: $mainColor;
	border-radius: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: $btnHeight;
	padding: 0 $btnPad;
	font-size: $btnFontSize;
	font-weight: 500;
	transition: all 0.3s ease 0s;
		&:hover {
			color: $mainColor;
			background: rgba($color: $whiteColor, $alpha: 0.8);
			border: 3px solid $mainColor;
		}
}

.title2 {
   color: $titleColor;
   font-size: 23px;
   font-weight: 700;
   display: inline-block;
   text-transform: uppercase;
   padding: 40px 60px;
   border-bottom: 8px solid $mainColor;
   @media (min-width: 768px) {
      font-size: 36px;
   }
 }