// Useful reusable items

$fontFamily: Ubuntu, sans-serif;
$fontSize: 18px;
$fontColor: #171717;
$mainColor: #FF7062;
$whiteColor: #FFFFFF;
$maxWidth: 1181px;

@mixin container {
	max-width: $maxWidth;
	margin: 0px auto;
	padding: 0px 15px;
}


@mixin button($btnHeight, $btnPadLeft, $btnPadRight, $btnFontSize) {	
	color: $whiteColor;
	background: $mainColor;
	border-radius: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: $btnHeight;
	padding-left: $btnPadLeft;
	padding-right: $btnPadRight;
	font-size: $btnFontSize;
	font-weight: 500;
	transition: all 0.3s ease 0s;
		&:hover {
			color: $mainColor;
			background: rgba($color: $whiteColor, $alpha: 0.8);
			border: 3px solid $mainColor;
		}
}